@font-face {
  font-family: 'Alloy Ink';
  src: url('../font/AlloyInk-nRLyO.ttf') format('truetype'),
       url('../font/AlloyInk-lgdWw.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quill Ink';
  src: url('../font/Ink.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.AnimatedTitle {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: none;
  overflow: hidden;
}

.titleContainer {
  text-align: center;
  position: relative;
  white-space: nowrap;
}

.animatedTitle {
  font-size: 10rem;
  margin-bottom: 20px;
  position: relative;
  font-family: 'Alloy Ink', 'Patrick Hand', 'Comic Sans MS', cursive, sans-serif;
}


